################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/gamedata/levels
/gamedata/meshes/equipments/exoskelet_killer.ogf
/Debug-Win32/binaries/eax.dll
/gamedata/sounds
/gamedata/textures
/sources/.vs/SHB-Engine/v16
